<div class="container">
  <div class="row">
    <div class="col-sm-12" >
      <h1>Get to the daily tasks</h1>
      {{title}}
      <div class="form-group">
        <input type="text" class="form-control" name="recipe" [(ngModel)]="recipeName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <button type="button" class="btn btn-light" (click)="onAdd()">Add</button>
      <button type="button" class="btn btn-light" (click)="onRemove()">remove</button>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="list-group">
          <a href="#" class="list-group-item" *ngFor="let recipe of recipes">{{recipe}}</a>
        </div>
      </div>
  </div>

</div>